<!-- Wappler include head-page="layouts/main" is="dmx-app" id="error_page" appConnect="local" bootstrap5="cdn" jquery_35="cdn" fontawesome_4="cdn" -->
<meta name="ac:route" content="/error_page">




<div class="container text-center py-5">
    <h1 class="display-1 fw-bold text-danger">404</h1>
    <p class="fs-3"> <i class="fa fa-exclamation-triangle text-warning me-2"></i> Oops! Page not found.</p>
    <p class="lead">
        The page you’re looking for doesn’t exist or has been moved.
    </p>
    <a href="/login_page" class="btn btn-primary rounded-pill">Go Login Page</a>
</div>