<!-- Wappler include head-page="layouts/main" is="dmx-app" id="password_reset_link" appConnect="local" bootstrap5="cdn" jquery_35="cdn" fontawesome_4="cdn" components="{dmxValidator:{},dmxNotifications:{},dmxBootstrap5Modal:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<div class="modal" id="success_modal" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-success">
                <h5 class="modal-title">Success!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Password Updated&nbsp; Successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-light bg-success" data-bs-dismiss="modal" dmx-on:click="browser1.goto('/login_page')">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="error_modal" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-danger">
                <h5 class="modal-title">Error :\</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>⚠️ Oops! Something went wrong while updating your password.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-light bg-danger" data-bs-dismiss="modal" dmx-on:click="browser1.goto('/login_page')">Close</button>
            </div>
        </div>
    </div>
</div>
<dmx-notifications id="notifies1"></dmx-notifications>
<div class="container">
    <form id="new_password" method="post" is="dmx-serverconnect-form" action="/api/password/update_password" dmx-on:success="success_modal.toggle()" dmx-on:error="error_modal.toggle()">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">


                <div class="fdb-box fdb-touch">
                    <div class="row">
                        <div class="col">
                            <h1>Reset Password</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" minlength="8" data-msg-minlength="Please enter at least 8 characters.">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password" required="" data-rule-equalto="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="email" name="email" type="hidden" class="form-control" dmx-bind:value="query.email">
                            <input id="hash" name="hash" type="hidden" class="form-control" dmx-bind:value="query.id">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button id="register1_submit" class="btn btn-success rounded-pill" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<meta name="ac:route" content="/password_reset_link">